@use "./variables" as *;

.Calc__All__Buttons{
    border: $testborder1;
}
.Calc__Bot__All__ButtonShape{
    width:4rem;
    height:4rem;
}
.Calc__Bot__All__DoubleButtonShape{
    width:10rem;
    height:5rem;
}