@use "./variables" as *;
#Calc{
    display: flex;
    flex-direction: column;
    // border: $testborder1;
    width: 22rem;
    justify-content: center;
    background-color: $PrimaryBackgroundColour;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: auto;
}

#Calc__LightDarkModeButtons{
    display: flex;
    justify-content: center;
    align-items: center;

}

#Calc__Top{
    height: 12.5rem;
    // border: $testborder2;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    #Calc__Top__Input{
        background-color: transparent;
        // border: $testborder1;
        border: solid 1px whitesmoke;
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
        font-size: 3rem;
        text-align: right;
        color: white;
    }
}

#Calc__Bot{
    // border: $testborder3;
    // margin: 1rem 1rem 1rem 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    background-color: $PrimaryBackgroundColour2;
    padding: 1rem 0 1rem 0;

}

#Calc__Bot__All{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    // border: $testborder1;
}