//Primary Styles
//Body
$PrimaryBackgroundColour: black;
$PrimaryTextColour:white;
//Buttons
$PrimaryButtonBackgroundColour:black;
$PrimaryButtonHoverColour:gray;


//----------------------------------------------------------------------

//Secondary Styles
//Body
$SecondaryBackgroundColour:white;
$SecondaryTextColour:black;
//Buttons
$SecondaryButtonBackgroundColour:black;
$SecondaryButtonHoverColour:gray;

//Testing Phase Variables
$testborder1:solid 3px red;
$testborder2:solid 3px green;
$testborder3:solid 3px blue;
