@use "./variables" as *;
@use "./text";
@use "./colours";
@use "./buttons";
@use "./calc";
@use "./topCalc";
@use "./botCalc";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: black;
    height: 100vh;
    width: auto;
}